extends layout

block content
  h1= title
  span Check-in date&nbsp;
  input(type='date' value='2022-09-01')
  span Check-out date&nbsp;
  input(type='date' value='2022-09-01')
  h2 Here are some lovely bungalows

  each bungalow in bungalows
    .bungalow
      a(href=`/bungalows/${bungalow.id}`)
        form(action="submit")
          h3 #{bungalow.name}
          p #{bungalow.price} TRY
          if bungalow.rating
            p #{bungalow.rating}
      button(type='button' onclick=`${user.book}`) Book Now
